/*
 * Global layout stuff
 */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Source Sans 3', sans-serif;
}

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px; 
  display: flex;
  flex-direction: column;
  width:100%;
}

body main {
  width: 90%;
  background-color: #f4f1ec;
  padding-left:50px;
}

/*
CSS of when screen width is more than 1024px (desktop screen)
*/
@media only screen and (min-width: 1024px){
body div.header-main {
  width: 100%;
  display:flex;
  justify-content: space-around;
  padding-top:120px;
}

body nav {
  background-color: #4056A1;
}

body header.thumbnail {
 margin: 100px 30px 50px 30px; 
}

body main {
  margin-right: 40px;
}

article.tweet-container header.tweet-header {
  margin: 20px;
}

article.tweet-container p.tweet-text {
  max-width: 700px;
}

}

/*
 * Additional CSS are defined in other CSS files, as per instructions
 */