/*
 * Global layout stuff
 */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Source Sans 3', sans-serif;
}



body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

body main {
  width: 90%;
  background-color: #f4f1ec;;
}

/*
CSS of when screen width is less than 768px (tablets)
*/
@media only screen and (min-width: 768px){
body div.header-main {
  width: 100vw;
  display:flex;
  justify-content: space-around;
  padding-top:120px;
}

body header.thumbnail {
 margin: 100px 150px 0 30px;
}

body main {
  margin-right: 40px;
}

article.tweet-container header.tweet-header {
  margin: 20px;
}

}

/*
 * Additional CSS are defined in other CSS files, as per instructions
 */