body nav {
  height: 120px;
  width: 100vw;
  background-color: none;
  color: #FFFFFF;
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

#logo {
  font-family: 'Bungee', cursive;
  font-size: 39px;
}

#new-tweet-icon b {
  font-weight: bold;
}

body nav div {
  display: flex;
  flex-direction: column;
  justify-content: right;
}




